<!DOCTYPE html>
<html>

<head>
    <title>{% block title %}My Flask App{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <nav class="col-md-2 d-none d-md-block bg-light sidebar">
                <div class="sidebar-divider"></div>
                <div class="sidebar-logo">
                    <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo">
                </div>
                <div class="sidebar-divider"></div>
                <div class="sidebar-sticky">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link {% if request.path == url_for('home') %}active{% endif %}"
                                href="{{ url_for('home') }}">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if request.path == url_for('new_play') %}active{% endif %}"
                                href="{{ url_for('new_play') }}">New Play</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if request.path == url_for('update_play') %}active{% endif %}"
                                href="{{ url_for('update_play') }}">Update Play</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if request.path == url_for('playbook') %}active{% endif %}"
                                href="{{ url_for('playbook') }}">Playbook</a>
                        </li>
                        <!-- More links can be added here -->
                    </ul>
                </div>
            </nav>
            <main role="main" class="col-md-10">
                {% block content %}
                <!-- Content will be inserted here -->
                {% endblock %}
            </main>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>

</html>